:root{
    --font-color:#141414;
    --lighter-font-color:#505050;
    --highlight-color:#03A9F4;
    --body-color:#1E2832;
    
    --theme-background:#0A0A0A;
    --theme-primary:#000;
    --blanc:#fff;
}