*{
    font-family: 'Rubik_regular';
    line-height: 1;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--body-color);
    color: var(--blanc);
}
.container{
    width: 90%;
    margin: 0 auto;
}
#middle{
    width: calc(100% - 320px);
    position: relative;
    left: 320px;    
}
#menu-glob-magasin ul{
    background-color: var(--theme-background);
    display: flex;
    align-items: center;
    list-style: none;
}
#menu-glob-magasin ul li a{
    text-decoration: none;
    color: var(--blanc);
}