*{
    font-family: 'Rubik_regular';
    line-height: 1;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--theme-primary);
    color: var(--blanc);
}
.container1600{
    max-width: 1600px;
    margin: 0 auto;
}