header{
    position: fixed;
    min-height: 100vh;
    display: flex;
    max-width: 100px;
    width: 290px;
    padding: 30px 0 30px 30px;
    background-color: var(--theme-background);
}
#glob-menu-button-more{
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button-menu-more{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}
#button-menu-more img{
    max-width: 30px;
}
#glob-menu-others{
    width: 100%;
}
#menu-img-profil{
    max-width: 80px;
    max-height: 80px;
    overflow: hidden;
    border:solid 1px var(--theme-background);
    transition: all .5s;
}
#menu-img-profil:hover{
    transition: all .5s;
    border-radius: 50%;
    transform: scale(1.02);
    -webkit-box-shadow: 3px 3px 7px 3px #03a8f480; 
    box-shadow: 3px 3px 7px 3px #03a8f480;
}
#menu-img-profil img{
    object-fit: cover;
    position: relative;
    left: -20px;
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
}
header nav ul li{
    list-style: none;
}
header nav ul li img{
    max-width: 40px;
}